<div class="master-container" style="max-width: 1200px;margin:auto;">
	<h1 align="center">Soak List</h1>

	<div class="accordion" id="accordionExample">
	  <div class="card">
	    <div class="card-header" id="headingOne" align="center" style="padding-bottom: 45px;">
	      <h2 class="mb-0">
	        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          <h2>Monday</h2>
	        </button>
	      </h2>
	    </div>

	    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
	      <div class="card-body">
	        
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>

	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingTwo" align="center" style="padding-bottom: 45px;">
	      <h2 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          <h2>Wednesday</h2>
	        </button>
	      </h2>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
	      <div class="card-body">
	        
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>

	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingThree" align="center" style="padding-bottom: 45px;">
	      <h2 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          <h2>Friday</h2>
	        </button>
	      </h2>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
	      <div class="card-body">
	        
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>
	        <div class="card" style="padding: 1px 11px 4px 11px;" >
	        	instruction
	        </div>

	      </div>
	    </div>
	  </div>
	</div>

</div> <!-- master container -->