<div class="form-container">
	<h1 align="center">Editing Seed Flat</h1><br>

	<%= render 'form', seed_flat: @seed_flat %>

	
	<br><div align="center">
		<%= link_to 'Show', @seed_flat, class:"btn btn-success" %>
		<%= link_to 'Back', seed_flats_path, class:"btn btn-success"  %>
	</div>
</div>