<div class="master-container" style="max-width: 1200px;margin:auto;padding-bottom: 88px">


	<h1>Date</h1>
	<h2>## flats to sew (# flats sewn)</h2>
	<% 6.times do %>
	<div class="card" style="padding: 1px 11px 4px 11px;" >
		<h3 align="left">
			<% params_hsh = {crop_id: 66, customer_id: 44, customer_flats: [[44,1],[33,1]], new_info: "sewing 2 flats shiso" } %>
			<%= link_to root_path() do %>
			  <i class="far fa-square"></i>
			<% end %>
			<%= link_to "X flats y, Z", tools_bulk_flat_form_path(params_hsh) %>
		</h3>
	</div>
	<% end %>

	<% 6.times do %>
	<div class="card" style="padding: 1px 11px 4px 11px;" >
		<h3 align="left">
			<% params_hsh = {crop_id: 66, customer_id: 44, customer_flats: [[44,1],[33,1]], new_info: "sewing 2 flats shiso" } %>
			<%= link_to root_path() do %>
			  <i class="far fa-check-square"></i>
			<% end %>
			<%= link_to "X flats y, Z", tools_bulk_flat_form_path(params_hsh) %>
		</h3>
	</div>
	<% end %>



</div>