<div class="master-container" style="max-width: 1200px;margin:auto;">

	<% @this_week_hsh.each{|day_of_week,date| %>
		<% @days_sew = @sew_instructions.select{|hsh| hsh[:day] == day_of_week } %>
		<% next if @days_sew.count == 0 %>

		<h1 align="center"><%= day_of_week %> (<%= date %>)</h1>
		<% @days_sew.sort_by{|hsh| Order.where(id: hsh[:order_id])[0].crop_id }.each{|hsh| %>
			<% @completed = false %>
			<% @customer_id = Order.where(id: hsh[:order_id])[0].customer_id %>
			<% @crop_id = Order.where(id: hsh[:order_id])[0].crop_id %>
			<% @from_date = date - 1 %>
			<% @to_date = date + 1 %>
			<% @sew_query = SeedFlat.where(customer_id: @customer_id).where(crop_id: @crop_id).where(started_date: date) %>

			<% if @sew_query.count >= hsh[:qty] %>
				<% @completed = true %>
			<% else %>
				<% @completed = false %>
			<% end %>

			<% if @completed == false %>
				<div class="card" style="padding: 1px 11px 4px 11px;" >
			<% else %>
				<div class="card" style="padding: 1px 11px 4px 11px;background-color: #66C166;" >
			<% end %>					
			

				<% if hsh[:qty] > 1 %>
					<h3 align="left">
						<%= link_to "#{hsh[:qty]} #{hsh[:qty_units]}s #{Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].crop_variety}, #{Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].crop.capitalize} for #{Customer.where(id: Order.where(id: hsh[:order_id])[0].customer_id)[0].name}", dashboards_bulk_form_path(crop_id: Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].id, customer_id: Order.where(id: hsh[:order_id])[0].customer_id, info: "Sewing #{hsh[:qty]} #{hsh[:qty_units]} #{Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].crop_variety}, #{Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].crop.capitalize} for #{Customer.where(id: Order.where(id: hsh[:order_id])[0].customer_id)[0].name}") %>
					</h3>
				<% else %>
					<h3>
						<%= link_to "#{hsh[:qty]} #{hsh[:qty_units]} #{Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].crop_variety}, #{Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].crop.capitalize} for #{Customer.where(id: Order.where(id: hsh[:order_id])[0].customer_id)[0].name}", dashboards_bulk_form_path(crop_id: Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].id, customer_id: Order.where(id: hsh[:order_id])[0].customer_id, info: "Sewing #{hsh[:qty]} #{hsh[:qty_units]} #{Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].crop_variety}, #{Crop.where(id: Order.where(id: hsh[:order_id])[0].crop_id)[0].crop.capitalize} for #{Customer.where(id: Order.where(id: hsh[:order_id])[0].customer_id)[0].name}") %>
					</h3>
				<% end %>
				</div>
		<% } %>
	<% } %>

</div>	