<div class="master-container" style="max-width: 1200px;margin:auto;">

<% @this_week_hsh.each{|day_of_week,date| %>
		<% @days_soak = @final_soak_instructions.select{|k,v| k == day_of_week } %>

		<% next if @days_soak.count == 0 %>
		<h1 align="center"><%= day_of_week %> (<%= date %>)</h1>
		<% @days_soak.values[0].sort_by{|hsh| Order.where(id: hsh[:order_ids][0])[0].crop_id }.each{|hsh| %>
			<div class="card" style="padding: 1px 11px 4px 11px;" >
				<h3>
					<%= link_to "#{hsh[:qty]} #{hsh[:qty_units]} #{Crop.where(id: Order.where(id: hsh[:order_ids][0])[0].crop_id)[0].crop_variety}, #{Crop.where(id: Order.where(id: hsh[:order_ids][0])[0].crop_id)[0].crop.capitalize}", seed_treatments_bulk_soak_form_path( info: "Soaking #{hsh[:qty]} #{hsh[:qty_units]} #{Crop.where(id: Order.where(id: hsh[:order_ids][0])[0].crop_id)[0].crop_variety}, #{Crop.where(id: Order.where(id: hsh[:order_ids][0])[0].crop_id)[0].crop.capitalize}", crop_id: Order.where(id: hsh[:order_ids][0])[0].crop_id, soak_qty: hsh[:qty], order_ids: hsh[:order_ids], orders: hsh[:order_ids].join(",") ) %>
				</h3>
			</div>	
		<% } %>
<% } %>	