<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @over_grow_recipient.email %>
</p>

<%= link_to 'Edit', edit_over_grow_recipient_path(@over_grow_recipient) %> |
<%= link_to 'Back', over_grow_recipients_path %>
