<div class="master-container">
	<div class="form-container">
		<h1 align="center">New Seed Treatment</h1>

		<%= render 'new_form', seed_treatment: @seed_treatment %>

		<%= link_to 'Back', seed_treatments_path %>
	</div>
</div>