<div class="master-container" align="center">
	<h1>Flats Created:</h1><br>
	<% @created_flats.each{|flat| %>	
		<% @flat = SeedFlat.where(id: flat) %>
		<h3><%= link_to "#{@flat[0].flat_id} : #{Crop.where(id: @flat[0].crop_id)[0].crop_variety}, #{Crop.where(id: @flat[0].crop_id)[0].crop.capitalize} for #{Customer.where(id: @flat[0].customer_id)[0].name}", @flat[0] %></h3>
	<% } %>

	<br><br>
	<%= link_to "back to sew list", calendars_sew_path, class: "btn btn-primary btn-lg" %><br><br>
	<%= link_to "back to treatments", seed_treatments_fresh_index_path, class: "btn btn-primary btn-lg" %><br><br>
	<%= link_to "back to crop availability", dashboards_crop_availability_path, class: "btn btn-primary btn-lg" %>
</div>
