<div class="master-container">
<% @week_start_dates.reverse.each{|monday| %>
	<% @week_end_date = monday + 6 %>
	<h1 align="center">Week of <%= monday %><br></h1>

	<% SeedFlat.where.not(harvested_on: nil).where("harvested_on >= ? AND harvested_on <= ?", monday, @week_end_date).group_by{|flat| flat.harvested_for }.each{|customer_group| %>
		<h1><%= Customer.where(id: customer_group[0])[0].name unless customer_group[0] == nil =%></h1>
	<% } %>

<% } %>



	<% @flats.each{|customer_group| %>
		<% if customer_group[0] == nil %>
		<% else %>
			<h1><%= Customer.where(id: customer_group[0])[0].name %></h1>
			<%= customer_group[1].select{|flat| flat.harvested_on  } %>
		<% end %>	
	<% } %>


</div>