
<% 120.times do |i| %>
	<div style="border-top: solid black 2px;">
		<h2 align="center">
			<%= @today.strftime("%A, %B %d") %>
		</h2>
		<div align="center">
			
		</div>	

	<br/>	
	</div>
	<% @today += 1 %>
<% end %>