<br><br>
<h3 class="page-header">
	Sew Calendar
</h3>
<br>
<div class="container-fluid">
	<% @weeks.each{|week| %>
		<div class="row">
			<% week.each{|day| %>
				<% if day == Date.today %>
					<div class="col cal-day" style="background-color: #4cbb17;">
				<% else %>
					<div class="col cal-day">
				<% end %>
					<% unless day == nil %>
						
						<% @flats_sewn = SeedFlat.where(started_date: day) %>
						
						<p align="center">		
							<strong><%= day.strftime("%A, %b %d") %></strong><br>
							<%= @flats_sewn.count %> flats sewn
						</p>

						<p>
							<% @flats_sewn.group_by(&:crop).sort_by{|crop, result| -result.count }.each{|crop, result| %>
								<%= result.count %> flats <%= crop %><br>
							<% } %>
						</p>
					<% end %>



				</div>
			<% } %>
		</div>
	<% } %>
</div>