<div style="padding: 22px; min-width:800px; align-items: center; margin:auto;">
	<h1 align="center">Record Seed Flat Harvest</h1>
		<%= render 'harvest', flat: @seed_flat, seed_flat_update: @seed_flat_update %>
</div>