<h1>Editing Seed Flat Update</h1>

<%= render 'transplant_form', {seed_flat_update: @seed_flat_update, seed_flat: @seed_flat} %>

<%= link_to 'Show', @seed_flat_update %> |
<%= link_to 'Back', seed_flat_updates_path %>
