<!-- Navigation -->
<div class="nav">
	<table>
		<tr>
			<td width="44px">
			</td>
			<td>
				<br/>
				<br/>
				<%= button_to "Seed Flats", root_url, :method => :get %>
				<br/>
				<br/>
			</td>
			<td>
				<br/>
				<br/>
				<%= button_to "Pipeline", "/dashboards/pipeline", :method => :get %>
				<br/>
				<br/>
			</td>
			<td>
				<br/>
				<br/>
				<%= button_to "Harvest Calculator", "/dashboards/calculator", :method => :get %>
				<br/>
				<br/>
			</td>
		</tr>
	</table>    	
</div>
